.home {
    background-color: $blue;
    background-image: url("../img/video-hero-finale.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 150%;

    .content {
        height: 100vh;
        overflow-y: hidden;

        h2 {
            font: 2rem $roboto;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 3px;
            text-align: center;
            margin-top: 60vh;
        }
    }

}