.home {
    background-color: $blue;
    background-image: url("../img/video.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;

    .intro {
        height: 100vh;
        position: relative;

        h2 {
            font: 2rem $roboto;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 3px;
            text-align: center;
            padding-top: 60vh;
        }

        a {
            padding: 5px;
            font: 1rem $roboto;
            position: absolute;
            bottom: 6vh;
            right: 4vw;
            color: $white;
        }

    }

}